<div class="player{{running}}" id="{{id}}" base="{{base}}" runstart="{{runstart}}">
<div class="edit button delete"> Delete </div>
  <div class="timebar"> </div>
  <div class="clock">
      00:00
  </div>
    <div class="name">
      {{name}}
  </div>
  <div class="clear"></div>
</div>
